#historic {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 85vh;
}

#delete-historic-btn {
  object-fit: cover;
  border: none;
  padding: 5px 5px;
  visibility: hidden;
}

#btn-background {
  background-color: inherit;
  position: fixed;
  width: inherit;
  display: flex;
  justify-content: right;
  bottom: 0vh;
  right: 0vw;
}

.historic-item-pair {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  padding: 1vh 1.5vw;
}

.historic-item-pair:hover {
  background-color: rgb(238, 237, 237);
  border-radius: 5%;
}

.historic-preview {
  background-color: inherit;
  color: gray;
  padding: 3px 3px;
}

.historic-result {
  background-color: inherit;
  font-weight: 620;
  padding: 3px 3px;
}

#historic::-webkit-scrollbar {
  width: 8px;
  /* largura da scrollbar */
}

#historic::-webkit-scrollbar-track {
  background: inherit;
  /* cor do "trilho" da scrollbar */
}

#historic::-webkit-scrollbar-thumb {
  background-color: gray;
  /* Cor do scroll */
  border-radius: 20px;
  border: 3px solid whitesmoke;
  /* Cria o padding em volta do scroll */
  height: 5vh;
}