* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 5vh;
    width: 100vw;
    background-color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.float-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


main {
    height: 95vh;
    width: 100vw;
    background-color: #f3f3f3;
}

.display {
    justify-content: right;
    height: 30vh;
}

.display-info {
    padding: 2vh 2vw;
    justify-content: right;
    display: flex;
}

#pseudo {
    font-size: 4vh;
    color: lightgray;
}

#result {
    font-size: 10vh;
}

.basicGrid {
    height: 65vh;
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    padding: 1vw;

}

.basicGrid>.card {
    border-radius: 0.3rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    transition: 0.3s;
    border: none;
    font-size: 1.2rem;
}
 
.basicGrid >.number {
background-color: white;
font-size: 1.5rem;
}

.basicGrid >.operator {
    font-size: 2.2rem;
    font-weight:lighter;
}


.card:hover {
    opacity: 75%;
}

.card:nth-last-child(1) {
    background-color: #005a9e;
    color: #fff;
}